* {
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --dflt-border-color: #E5E7EB;
    --error-color: red;
    --focus-color: lightblue;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    max-height: 100dvh;
    display: flex;
    flex-direction: row;
}

.picture {
    flex: 1 1 40%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.picture p {
    position: relative;
    top: -4rem;
    margin: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);

    &>a {
        color: whitesmoke;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: whitesmoke;
        }
    }
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 1 60%;
}

.greeting-container {
    flex: 1 1 30dvh;
    width: 100%;
    background-color: #c8edd43b;
    &>* {
        margin-left: 2rem;
    }
}

h3 {
    font-size: x-large;
    font-weight: 600;
    margin-right: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 70dvh;
    width: 100%;
    &>* {
        margin-left: 2rem;
    }
    
    &>div{
        background-color: #ebeff1;
    }    
}

.form-container>form {
    margin-bottom: 2rem;
    flex: 1 1 60%;
}

.form-container>div {
    flex: 1 1 40%;
    width: 100%;
    background-color: #c8edd43b;
}

.form-container button{
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(87,139,77);
    padding: 16px 48px;
    color: white;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out;

}
.form-container button:hover {
    box-shadow: 0px 0px 2px black;
 }

.form-row {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-row div {
    display: flex;
    flex-direction: column;
    flex: 1 1 35%;
    margin-right: 1rem;

    &>*{
        flex: 1 1 50%
    }
}

.form-row input {
    background-color: #FFFFFF;
    border: 1px solid var(--dflt-border-color);
    border-radius: 3px;
    padding: 7px;
    font-size: 14px;

    &:focus {
        outline: none;
        border: 1px solid var(--focus-color);
        box-shadow: 0px 0px 3px -1px black;
    }

    &:user-invalid {
        outline: none;
        border: 1px solid var(--error-color);
    }
}

.form-row label {
    margin: 1rem 0 0.5rem 0;
    text-transform: uppercase;
}

.bottom-section {
    margin-left: 0;
    width: 100%;
    height: 100%;
    &>* {
        margin-left: 2rem;
    }
}

.bottom-section p {
    font-weight: 600;
}

.bottom-section a {
    color: rgb(87,139,77);
    text-decoration: none;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: rgb(87,139,77);
    }
}
